mixin titleBlock(ClassTitle, ValueTitle)
    h1(class=ClassTitle)= ValueTitle

mixin textBlock(ClassText, ValueText)
    h1(class=ClassText)= ValueText

mixin button(classButton, valueButton)
    button.main-button(class=classButton)= valueButton

mixin formFill(typeInput, placeholderInput)
    input.main-form(type=typeInput, placeholder=placeholderInput)